* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    scroll-behavior: smooth;
  }
  
  html,
  body {
    max-width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }
  
  .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    position: relative;
    font-family: 'Open Sans', sans-serif, "Source Sans Pro", Arial, "Poppins";
    font-weight: bold;
    
  }
  
  .logo img{
    max-width: 8em;
    max-height: 8em;
    margin: 0%;
    padding: 1rem;
  }
  
  .navbar-links ul {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    list-style: none;
    gap: 0.5em;
    margin: 1em;
    font-size: large;
  }
  
  .navbar-links li:hover {
    background-color: #faf5e4;
  }
  
  .navbar-links ul a {
    text-decoration: none;
    display: block;
    padding: 1rem;
    color: black;
  }
  
  .toggle-button{
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
  }
  
  .toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
  }
  
  /* End of NavBar */

  .about-us{
    height: 100%;
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
    background-color: white;
  }

  .about-container{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about-container h1{
    font-size: 50px;
    font-family: 'Open Sans', sans-serif, 'Poppins', 'Work Sans';
    font-weight: bold;
  }

  .about-container p{
    margin-left: 1em;
    font-family: 'Open Sans', sans-serif, "Source Sans Pro", Arial, "Poppins";
    font-size: 30px;
  }

  .about-us-photo img{
    height: auto;
    max-width: 50%;
    object-fit: cover;
  }

  /* End of About Us Section */
  
  .hero-image-container{
    background-image: url(Photos/Kayak\ Image\ 1.jpg);
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: center;
    background-attachment: fixed;
  }
  
  .inner-container h1{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    font-weight: bold;
    font-size: 5em;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
  }
  
  /* End of Hero Image Section */
  
  .card-section{
    height: 100%;
    background-color: #ececec;
    gap: 16px;
    padding: 0 32px;
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-left: 8rem;
    padding-right: 8rem;
    font-family: 'Open Sans', sans-serif, "Source Sans Pro", Arial, "Poppins";
  }

  .card-top{
    display: flex;
    align-items: center;
    margin-right: 3em;
  }


  .card-side{
    margin-left: 15em;
    font-size: 1.3em;
  }
    
  .card-top img {
    height: 30em;
    max-width: 30em;
    object-fit: cover;
  }

  .card-bottom{
    padding-top: 100px;
    margin-left: 3em;
    display: flex;
    align-items: center;
  }

  .card-bottom img{
    height: 30em;
    max-width: 20%;
    object-fit: cover;
    margin-left: 10em;
  }

  .card-side-two{
    font-size: 1.3em;
  }

  .offshore-title h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
  }

  .inshore-title{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
  }

  .line{
    width: 70%;
    height: 5px;
    margin-left: 3em;
    border-radius: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: red;
  }

  /* End of Card Section */


  .information{
    max-width: 100%;
    min-height: 50vh;
    font-family: 'Open Sans', sans-serif, "Source Sans Pro", Arial, "Poppins";
  }

  .information-container{
    display: flex;
    text-align: center;
  }

  .information-container h1{
    font-size: 2em;
  }

  .information-container p{
    font-size: 1.5em;
  }

  .information-left{
    float: left;
    width: 33%;
  }

  .information-middle{
    float: left;
    width: 33%;
  }

  .information-right{
    float: right;
    width: 33%;
  }

  .information-right li{
    font-size: 20px;
  }

 

   /* End of Section Three */

  .our-photos-section{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #e7eaf6;
  }

  .row{
    display: flex;
    justify-content: center;
    margin: 5px;
  }


  .row img {
    width: auto;
    height: 300px;
    object-fit: cover;
  }

  /* End of Our Photos Section */



  /* Poop */

  .fishing{
    max-width: 100%;
    min-height: 75vh;
    background-color: #ddd;
  }

  .line{
    max-width: 50%;
    border-radius: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: red;
  }

  .container{
    width: 80%;
    display: block;
    margin:auto;
    padding-top: 100px;
  }
  .content-section{
    float: left;
    width: 55%;
    margin-bottom: 50px;
  }
  .image-section{
    float: right;
    width: 40%;
  }
  .image-section img{
    width: 100%;
    height: auto;
  }
  .content-section .title{
    text-transform: uppercase;
    font-size: 20px;
  }
  
  .content-section .content p{
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.5;
  }

  /* 4 Photo Section */

  .fishing-2{
    max-width: 100%;
    min-height: 80vh;
    background-color: #ddd;
  }

  .container-2{
    max-width: 80%;
    display: block;
    margin:auto;
  }
  
  .image-section-2{
    max-width: 40%;
    float: left;
  }

  .image-section-2 img{
    max-width: 100%;
    height: auto;
    float: left;
  }

  .text-section-2{
    float: right;
    max-width: 55%;
  }

  .title{
    font-size: 28px;
  }

  .text-section-2 p{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif, "Source Sans Pro", Arial, "Poppins";
    line-height: 1.5;
    margin-top: 10px;
    margin-bottom: 15px;
  }

  /* Form  */

    .contact-us{
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-family: 'Open Sans', sans-serif, "Source Sans Pro", Arial, "Poppins";
    padding-bottom: 20px;
  }

  .owner-number{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
  }

  textarea{
    resize: none;
  }

  .form-button{
    height: 50%;
    width: auto;
    border-radius: 50px;
    background-color: #1DA1F2;
    padding: 0.3em;
    color: white;
    border: none;
  }

  .form-section{
    font-family: 'Open Sans', sans-serif, "Source Sans Pro", Arial, "Poppins";
  }

  .form-labels{
    width: 100%;
    height: auto;
    text-align: center;
    box-shadow: #1DA1F2;
  }

  
  .form-labels p{

  }

  .input-field{
    width: 30%;
    height: 2rem;
    margin-bottom: 1rem;
  }

  .input-field-message{
    width: 30%;
    height: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-top: 1rem;
  }

  /* End of Form Section */
  
  @media (max-width: 768px) { /* Media Query for Mobile Devices */
    .toggle-button {
        display: flex;
        right: 16px; 
    }
  
    .navbar-links {
       display: none; 
       width: 70%;
    }
  
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
  
    .navbar-links ul {
        flex-direction: column;
        width: 100%;
    }
  
    .navbar-links li{
        text-align: center;
    }
  
    .navbar-links li a {
        padding: .5em;
    }
  
    .navbar-links.active {
        display: flex;
    }

    /* End of Navbar Section */
    
    .image-container {
        font-size: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
  
    .image-title{
        font-size: 1em;
    }

    /* End of Hero Image Section */

    .about-us{
      padding-left: 50px;
      padding-right: 50px;
    }

    .about-container{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    .about-container p{
      margin-top: 1em;
      font-size: 1rem;
      margin-left: 2px;
    }

    .about-us-photo img{
      max-width: 100%;
    }
  
    

    /* End of About Container */

    .card-section{
      flex-direction: column;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .card-top img {
      height: auto;
      max-width: 100%;
      object-fit: cover;
    }

    .card-top{
      display: inline-block;
      margin-right: -1em;
    }

    .card-side{
      margin-left: -0.7em;
      font-size: 1rem;
    }

    /* End of Card Section */

    .sect-three-container{
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .sect-three-container{
        margin-right: 4em;
    }

    .sect-three-text h1 {
        font-size: 30px;
    }

    .sect-three-text p {
      padding-top: 10px;
      padding-bottom: 20px;
      margin-right: 1em;
  }

    .sect-three-img img{
        height: 15em;
        margin-right: 1em;

    }

    .line{
      width: 70%;
      height: 5px;
      margin-right: 20em;
      border-radius: 50px;
      margin-top: 50px;
      background-color: red;
    }

    /* End of Section Three */


    .row{
      display: block;
      max-width: 100%;
      height: auto;
      margin: 5px;
    }
  
  
    .row img {
      width: 100%;
      height: auto;
    }

  /* Last Section */
  
  .container{
    width: 80%;
    display: block;
    margin:auto;
    padding-top:50px;
  }

  .content-section{
    float:none;
    width:100%;
    display: block;
    margin:auto;
  }

  .image-section{
    float:none;
    width:100%;
  }

  .image-section img{
    width: 100%;
    height: auto;
    display: block;
    margin:auto;
  }

  .content-section .title{
    text-align: center;
    font-size: 19px;
  }

  /* laster */

  .container-2{
    margin:auto;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    float: none;
    padding-top:50px;
  }

  .image-section-2{
    max-width: 100%;
  }

  .title{
    display: flex;
    justify-content: center;
  }

  .text-section-2{
    max-width: 100%;
  }

  .information-left{
    width: 100%;
  }

  .information-container p{
    font-size: 1.2em;
  }

  .information-container ul{
    font-size: 1.2em;
  }



  .information-container{
    flex-direction: column;
    align-items: center;
  }

  .information-left{
    width: auto;
  }

  .information-middle{
    width: auto;
  }

  .information-right{
    width: auto;
  }


}