* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html,
  body {
    max-width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }
  
  .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    position: relative;
    font-family: 'Open Sans', sans-serif, "Source Sans Pro", Arial, "Poppins";
    font-weight: bold;
    
  }
  
  .logo img{
    max-width: 10em;
    max-height: 10em;
    margin: 0%;
    padding: 1rem;
  }
  
  .navbar-links ul {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    list-style: none;
    gap: 1em;
    margin: 1em;
    font-size: large;
  }
  
  .navbar-links li:hover {
    background-color: #faf5e4;
  }
  
  .navbar-links ul a {
    text-decoration: none;
    display: block;
    padding: 1rem;
    color: black;
  }
  
  .toggle-button{
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
  }
  
  .toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
  }
  
  /* End of NavBar */

  .about-us{
    height: 100%;
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
    background-color: white;
  }

  .about-container{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about-container h1{
    font-size: 50px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
  }

  .about-container p{
    margin-left: 6em;
    font-family: 'Open Sans', sans-serif, "Source Sans Pro", Arial, "Poppins";
    font-size: 30px;
  }

  .about-us-photo img{
    height: 20em;
    width: 400px;
    object-fit: cover;
  }

  /* End of About Us Section */
  
  .hero-image-container{
    background-image: url(Photos/Kayak\ Image\ 1.jpg);
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: center;
    background-attachment: fixed;
  }
  
  .inner-container h1{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    font-weight: bold;
    font-size: 5em;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
  }
  
  /* End of Hero Image Section */
  
  .card-section{
    height: 100%;
    background-color: #ececec;
    gap: 16px;
    padding: 0 32px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 80px;
    padding-right: 80px;
    font-family: 'Open Sans', sans-serif, "Source Sans Pro", Arial, "Poppins";
  }

  .card-top{
    display: flex;
    align-items: center;
    margin-right: 3em;
  }


  .card-side{
    margin-left: 15em;
    font-size: 20px;
  }
    
  .card-top img {
    height: 30em;
    width: 505px;
    object-fit: cover;
  }

  .card-bottom{
    padding-top: 100px;
    margin-left: 3em;
    display: flex;
    align-items: center;
  }

  .card-bottom img{
    height: 30em;
    width: 250em;
    margin-left: 15em;
  }

  .card-side-two{
    font-size: 20px;
  }

  .offshore-title h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 45px;
  }

  .inshore-title{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
  }

  .line{
    width: 70%;
    height: 5px;
    margin-left: 3em;
    border-radius: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: red;
  }


  
  /* End of Card Section */

  .section-three{
    height: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .our-goals h1{
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-family: 'Open Sans', sans-serif, "Source Sans Pro", Arial, "Poppins";
  }

  .our-goals p{
    display: flex;
    justify-content: center;
    margin-left: 300px;
    margin-right: 300px;
    font-size: 25px;
    font-family: 'Open Sans', sans-serif, "Source Sans Pro", Arial, "Poppins";
  }

  .required-items h1{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    margin-left: 300px;
    margin-right: 300px;
    font-size: 40px;
    font-family: 'Open Sans', sans-serif, "Source Sans Pro", Arial, "Poppins";
  }

  .required-items p{
    display: flex;
    justify-content: center;
    margin-left: 300px;
    margin-right: 300px;
    font-size: 25px;
    font-family: 'Open Sans', sans-serif, "Source Sans Pro", Arial, "Poppins";
  }


   /* End of Section Three */

  .our-photos-section{
    height: 100%;
    padding-top: 100px;
    padding-bottom: 50px;
  }

  .row{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .row img {
    height: 18em;
    width: auto;
  }

  /* End of Our Photos Section */

  .foot{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    height: 100%;
    background-color: #142d4c;
    color: white;
    font-family: 'Open Sans', sans-serif, "Source Sans Pro", Arial, "Poppins";
  }

  .fut h1 p{
    font-size: 20px;
  }

  .fut{
    margin-left: 20px;
  }

  .fut-two{
    margin-right: 20px;
  }

  /* Media Queries */
  
  @media (max-width: 600px) { /* Media Query for Mobile Devices */
    .toggle-button {
        display: flex;
        right: 16px; 
    }
  
    .navbar-links {
       display: none; 
       width: 70%;
    }
  
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
  
    .navbar-links ul {
        flex-direction: column;
        width: 100%;
    }
  
    .navbar-links li{
        text-align: center;
    }
  
    .navbar-links li a {
        padding: .5em;
    }
  
    .navbar-links.active {
        display: flex;
    }

    /* End of Navbar Section */
    
    .image-container {
        font-size: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
  
    .image-title{
        font-size: 1em;
    }

    /* End of Hero Image Section */

    .about-container{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    .about-container h1{
      
      font-size: 35px;
    }

    .about-container p{
      margin-top: 25px;
      font-size: 17px;
      margin-left: 2px;
    }

    /* End of About Container */
  

    /* End of Card Section */

    .sect-three-container{
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .sect-three-container{
        margin-right: 4em;
    }

    .sect-three-text h1 {
        font-size: 30px;
    }

    .sect-three-text p {
      padding-top: 10px;
      padding-bottom: 20px;
      margin-right: 1em;
  }

    .sect-three-img img{
        height: 15em;
        margin-right: 1em;

    }

    .line{
      width: 70%;
      height: 5px;
      margin-right: 20em;
      border-radius: 50px;
      margin-top: 50px;
      background-color: red;
    }

    /* End of Section Three */

    .our-photos-section{
      height: 100%;
      padding-top: 100px;
      padding-bottom: 50px;
      padding-left: 30px;
      padding-right: 30px;
    }

    .row{
      flex-direction: column;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .row-image img{
      height: 15em;
    }
    
  }